{% extends 'base.html' %}

{% block title %}contacts{% endblock %}

{% block content %}

<section class="section-centers display">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="call-string j4 laptop-j5" align="center">
                    <table cellpadding="1" cellspacing="1" align="center">
                        <tbody>
                        <tr>
                            <td colspan="1" style="text-align: center;">
                                <b class="strong" style="color: #030303;">
                                    КОНТАКТ-ЦЕНТР</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <b class="strong" style="color: #030303;"> <b class="no-link"
                                >+375 (29) 777-77-77</b>
                                </b>- единый номер.
                                Eжедневно с 7:00 до 22:00
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="slide__content">
                    <br>
                    <div class="name">г. Минск, ул.Первомайская, 14</div>
                    </br>
                    <div class="box">
                        <div class="title">Call-центр(запись на прием):</div>
                        <p>
                            <b class="no-link" >+375 (29) 777-77-77 </b>
                        </p>
                    </div>


                    <div class="box">
                        <div class="title">Call-центр(городской номер):</div>
                        <p>
                            <b class="no-link" >+375 (17) 293-98-00</b>
                        </p>
                    </div>
                    <div class="box">
                        <div class="title">Время работы центра:</div>
                        <table>
                            <tbody>
                            <tr>
                                <td>ПН-ПТ:</td>
                                <td>с 07:30 до 21:00</td>
                            </tr>
                            <tr>
                                <td>Суббота:</td>
                                <td>с 08:00 до 20:00</td>
                            </tr>
                            <tr>
                                <td>Воскресенье:</td>
                                <td>с 09:00 до 16:00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


{% endblock %}