{% extends 'base.html' %}

{% block title %}doctors{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Специальность</th>
      <th scope="col">Стаж работы, лет</th>
      <th scope="col">Возраст</th>
    </tr>
  </thead>
  <tbody>
    {% for doctor in doctors %}
       <tr>
          <td>{{ doctor.surname }}</td>
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.fathername }}</td>
          <td>{{ doctor.get_specialization_display}}</td>
          <td>{{ doctor.experience }}</td>
          <td>{{ doctor.age }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}