{% extends 'base.html' %}

{% block title %}doctors{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Фото</th>
      <th scope="col">Фамилия, имя, отчество </th>
      <th scope="col">Специальность</th>
      <th scope="col">Стаж работы, лет</th>
      <th scope="col">Возраст</th>
    </tr>
  </thead>
  <tbody>
    {% for doctor in doctors %}
       <tr>
          <td>{% if  doctor.photo %} <img style="max-height:100px" style="max-width:100px" src="{{ doctor.photo.url }}"/> {% endif %} </td>
          <td>{{ doctor.surname }} {{ doctor.name }} {{ doctor.fathername }}</td>
          <td>{{ doctor.get_specialization_display}}</td>
          <td>{{ doctor.experience }}</td>
          <td>{{ doctor.age }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}