{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<main id="main ">
    <div class="container blog-page">
        <div class="row">
            <div class="col-lg-14">
                <section class="section-slider">
                    <div class="section-slider_box-text">
                        <div class="section-slider_box-text_block">
                            <h1 class="section-slider_box-text__title">Онкотест</h1>
                        </div>
                    </div>
                </section>
                <section class="section-custom section1">
                    <div class="section-custom_box">
                        <p>Рак часто прогрессирует незаметно и не проявляет себя в течение длительного времени. «PanTum Detect»
                            дает возможность начать проведение своевременной диагностики до появления дискомфорта или первых симптомов онкологического заболевания.</p>
                        <p>Тестирование PanTum Detect заключается в изучении макрофагов – подвижных клеток иммунной системы человека, способных поглощать и переваривать чужеродные
                            для организма частицы, в том числе опухолевые клетки.</p>
                        <p>Макрофаги выходят из кровеносного русла, перемещаются в ткани, поглощают специфические опухолевые структуры и мигрируют обратно в периферическую кровь.
                            Опухолевые клетки концентрируются в макрофагах, что позволяет детально исследовать их и точно определить пороговые величины индикаторов метаболических
                            процессов.</p>
                    </div>
                    <div class="section-custom_box">
                        <p>Пациенты с обоснованным подозрением на злокачественность (получение положительного результата теста PanTum Detect, выявившего превышение порогового
                            значения) направляются на дальнейшее обследование с целью подтверждения или исключения диагноза.</p>
                        <p>Тест PanTum Detect позволяет получить информацию о возможном наличии 60+ видов онкологических заболеваний на всех стадиях развития, в том числе
                            нулевой (предраковые заболевания), включая патологии, для которых в настоящее время отсутствуют эффективные методики раннего скрининга.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>


{% endblock %}