<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pantum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFEFD5;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pantum</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Главная</a>
        <a class="nav-link" href="#">О тесте</a>
        <a class="nav-link" href="#">Врачи</a>
        <a class="nav-link" href="#">Контакты</a>
        <a class="nav-link" href="#">Отзывы</a>
      </div>
    </div>
  </div>
</nav>


{% for doctor in doctors %}
<h1>{{doctor}}</h1>
{% endfor %}

</body>
</html>