{% extends 'base.html' %}

{% block title %}reviews{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<h1> {{title}} </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Клиент</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Описание</th>
    </tr>
  </thead>
  <tbody>
    {% for rev in reviews %}
      <tr>
        <td>{{ rev.clients.name }}</td>
        <td>{{ rev.rating }}</td>
        <td>{{ rev.description }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="container mt-3" style="width: 95%; font-size: 14px">
    <div class="card p-3 border-dark text-center" style="font-size: 18px;">
        Оставьте свой отзыв
    </div>
<form action="{% url 'reviews' %}" method="post">
    {{form|crispy}}
    {% csrf_token %}


    <button type="submit" class="btn btn-dark">Добавить</button>
</form>
</div>



{% endblock %}